body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
}

#current-weather, #forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#recommendations {
    margin-top: 40px;
    text-align: center;
}
